<v-container fluid>
  <v-breadcrumbs :items="breadcrumbs" class="mb-3"></v-breadcrumbs>

  <!-- ------------------------------------------------------------------------ */
  /*                                START: Filter                               */
  ---------------------------------------------------------------------------- -->
  <v-card class="mb-8" elevation="1" outlined rounded>
    <v-card-title class="blue--text">فیلتر {{ title }}</v-card-title>
    <v-row class="mx-4">
      <v-col class="col-12 col-md-3">
        <v-text-field
          label="کد"
          placeholder="لطفا کد سفارش را وارد کنید."
          v-model.trim="code"
          @change="paginateGenerator()"
          outlined
          clearable
          hide-details="auto"
        ></v-text-field>
      </v-col>

      <v-col class="col-12 col-md-3">
        <v-autocomplete
          label="درگاه"
          v-model.number="gateId"
          :items="[
              { text: 'زرین‌پال', value: 1 },
              { text: 'سامان', value: 2 },
            ]"
          item-text="text"
          item-value="value"
          @change="paginateGenerator()"
          outlined
          clearable
          hide-details="auto"
        ></v-autocomplete>
      </v-col>

      <v-col class="col-12 col-md-3">
        <v-autocomplete
          label="وضعیت"
          v-model="payment_status"
          :items="[
              { text: 'پرداخت نشده', value: 0 },
              { text: 'پرداخت شده', value: 1 },
            ]"
          item-text="text"
          item-value="value"
          @change="paginateGenerator()"
          outlined
          clearable
        ></v-autocomplete>
      </v-col>
    </v-row>
  </v-card>
  <!-- ----------------------------- END: Filter ----------------------------- -->

  <!-- ------------------------------------------------------------------------ */
  /*                                 START: List                                */
  /* ------------------------------------------------------------------------- -->
  <v-data-table
    :headers="[
        { text: 'شماره', value: 'no', align: 'center' },
        { text: 'کد', value: 'code', sortable: false },
        { text: 'درگاه', value: 'gateId' },
        { text: 'وضعیت', value: 'payment_status' },
        { text: 'مبلغ پرداختی', value: 'amount' },
        { text: 'موبایل', value: 'phoneNumber' },
        { text: 'تاریخ ایجاد', value: 'created_at' },
        { text: 'تاریخ بروز‌رسانی', value: 'updated_at' },
      ]"
    :items="items"
    class="elevation-1"
    item-key="id"
    :loading="loading"
    loading-text="در حال دریافت اطلاعات از سرور ..."
    :search="search"
    no-results-text="نتیجه‌ای یافت نشد."
    :page.sync="page"
    :items-per-page="limit"
    hide-default-footer
  >
    <template v-slot:top>
      <v-row>
        <v-col cols="12" md="9">
          <v-toolbar flat>
            <v-toolbar-title>
              <div class="d-flex justify-start align-center">
                <h1 class="blue--text">{{ title }}</h1>
              </div>
            </v-toolbar-title>
          </v-toolbar>
        </v-col>

        <v-col class="col-12 col-md-3">
          <v-text-field
            v-model="search"
            label="جستجو در این صفحه"
            class="ml-4"
          ></v-text-field>
        </v-col>
      </v-row>
    </template>

    <template v-slot:[`item.no`]="{ item }">
      {{ toPersianString(item.no) }}
    </template>

    <template v-slot:[`item.code`]="{ item }">
      <span :class="item.active ? 'green--text' : 'pink--text'">
        {{ item.code }}
      </span>
    </template>

    <template v-slot:[`item.gateId`]="{ item }">
      <span :class="getGateColor(item.gateId)">
        {{ getGateText(item.gateId) }}
      </span>
    </template>

    <template v-slot:[`item.payment_status`]="{ item }">
      <span :class="getStatusColor(item.payment_status)">
        {{ getStatusText(item.payment_status) }}
      </span>
    </template>

    <template v-slot:[`item.amount`]="{ item }">
      {{ numberToCash(item.amount) }}
    </template>

    <template v-slot:[`item.created_at`]="{ item }">
      {{ toPersianString(toPersianTime(item.datetime.created_at)) }}
    </template>

    <template v-slot:[`item.updated_at`]="{ item }">
      {{ toPersianString(toPersianTime(item.datetime.updated_at)) }}
    </template>
  </v-data-table>
  <!-- ------------------------------ END: List ------------------------------ -->

  <!-- ------------------------------------------------------------------------ */
  /*                              START: Pagination                             */
  /* ------------------------------------------------------------------------- -->
  <div class="d-flex align-center justify-space-between">
    <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="limit"
      @input="page = $event"
    ></v-pagination>
    <v-text-field
      style="max-width: 250px"
      class="mt-7"
      :value="limit"
      label="آیتم در هر صفحه"
      type="number"
      min="-1"
      max="15"
      @input="limit = parseInt($event, 10)"
      outlined
    ></v-text-field>
  </div>
  <!-- ---------------------------- END: Pagination -------------------------  -->
</v-container>
