<v-container fluid>
  <v-breadcrumbs :items="breadcrumbs" class="mb-3"></v-breadcrumbs>

  <!-- ------------------------------------------------------------------------ */
  /*                                START: Filter                               */
  ---------------------------------------------------------------------------- -->
  <!-- <v-card class="mb-8" elevation="1" outlined rounded>
      <v-card-title class="blue--text">فیلتر {{ title }}</v-card-title>
      <v-row class="mx-4">
        <v-col class="col-12 col-md-3">
          <v-autocomplete
            label="نوع"
            v-model="type"
            :items="[
              { text: 'پیامک', value: 'SMS' },
              { text: 'اعلان', value: 'PUSH' },
            ]"
            item-text="text"
            item-value="value"
            @change="paginateGenerator({ page: 1 })"
            outlined
            hide-details="auto"
          ></v-autocomplete>
        </v-col>

        <v-col class="col-12 col-md-3">
          <v-autocomplete
            label="وضعیت"
            v-model="status"
            :items="[
              { text: 'ارسال شده', value: 1 },
              { text: 'ارسال نشده', value: 0 },
            ]"
            item-text="text"
            item-value="value"
            @change="paginateGenerator()"
            outlined
            hide-details="auto"
          ></v-autocomplete>
        </v-col>

        <v-col class="col-12 col-md-3">
          <v-menu
            ref="datesMenu"
            v-model="datesMenu"
            :close-on-content-click="false"
            :nudge-top="20"
            transition="scale-transition"
            offset-y
            min-width="auto"
            :close-on-content-click="false"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="dates"
                label="تاریخ ایجاد یا ارسال"
                placeholder="لطفا روزهای مورد نظر خود را انتخاب کنید."
                readonly
                clearable
                v-bind="attrs"
                v-on="on"
                @click:clear="clearDateFilter()"
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="dates"
              multiple
              @change="paginateGenerator()"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>
    </v-card> -->
  <!-- ----------------------------- END: Filter ----------------------------- -->

  <!-- ------------------------------------------------------------------------ */
  /*                                 START: List                                */
  /* ------------------------------------------------------------------------- -->
  <v-data-table
    :headers="[
      { text: 'شماره', value: 'no', align: 'center' },
      { text: 'نام', value: 'firstName' },
      { text: 'نام خانوادگی', value: 'lastName' },
      { text: 'موبایل', value: 'phoneNumber' },
      { text: 'وضعیت', value: 'active' },
      { text: 'زمان ایجاد', value: 'datetime.created_at' },
      { text: 'زمان بروزرسانی', value: 'datetime.updated_at' },
      { text: 'گزینه‌ها', value: 'options', align: 'center', sortable: false },
    ]"
    :items="items"
    class="elevation-1"
    item-key="id"
    :loading="loading"
    loading-text="در حال دریافت اطلاعات از سرور ..."
    :search="search"
    no-results-text="نتیجه‌ای یافت نشد."
    :page.sync="page"
    :items-per-page="limit"
    hide-default-footer
  >
    <template v-slot:top>
      <v-row>
        <v-col cols="12" md="9">
          <v-toolbar flat>
            <v-toolbar-title>
              <div class="d-flex justify-start align-center">
                <h1 class="blue--text">{{ title }}</h1>
                <v-divider vertical class="mx-4"></v-divider>
                <router-link :to="{ name: 'CreateAdmin' }">
                  <v-icon color="blue" large>mdi-plus-circle</v-icon>
                </router-link>
              </div>
            </v-toolbar-title>
          </v-toolbar>
        </v-col>

        <v-col class="col-12 col-md-3">
          <v-text-field
            v-model="search"
            label="جستجو در این صفحه"
            class="ml-4"
          ></v-text-field>
        </v-col>
      </v-row>
    </template>

    <template v-slot:[`item.no`]="{ item }">
      {{ toPersianString(item.no) }}
    </template>

    <template v-slot:[`item.phoneNumber`]="{ item }">
      {{ toPersianString(`0${item.phoneNumber}`) }}
    </template>

    <template v-slot:[`item.active`]="{ item }">
      <span :class="item.active ? 'green--text' : 'pink--text'">
        {{ item.active ? 'فعال' : 'غیرفعال' }}
      </span>
    </template>

    <template v-slot:[`item.datetime.created_at`]="{ item }">
      {{ item.datetime.created_at ?
      toPersianString(toPersianTime(item.datetime.created_at)) : null }}
    </template>

    <template v-slot:[`item.datetime.updated_at`]="{ item }">
      {{ item.datetime.updated_at ?
      toPersianString(toPersianTime(item.datetime.updated_at)) : null }}
    </template>

    <template v-slot:[`item.options`]="{ item }">
      <!-- edit -->
      <v-chip
        class="ml-2"
        color="blue"
        link
        label
        outlined
        close
        close-icon="mdi-square-edit-outline"
        @click:close="$router.push({ name: 'EditAdmin', params: { id: item.id } })"
        @click="$router.push({ name: 'EditAdmin' })"
        >ویرایش</v-chip
      >

      <!-- active/deactive -->
      <v-chip
        :color="item.active ? 'yellow' : 'green'"
        link
        label
        outlined
        close
        :close-icon="
            item.active ? 'mdi-toggle-switch-off' : 'mdi-toggle-switch'
          "
        @click:close="toggleActivation(item.id, item.active)"
        @click="toggleActivation(item.id, item.active)"
      >
        {{ item.active ? "غیر فعال" : "فعال" }}
      </v-chip>
    </template>
  </v-data-table>
  <!-- ------------------------------ END: List ------------------------------ -->

  <!-- ------------------------------------------------------------------------ */
  /*                              START: Pagination                             */
  /* ------------------------------------------------------------------------- -->
  <div class="d-flex align-center justify-space-between">
    <v-pagination
      v-model="page"
      :length="pageCount"
      :total-visible="limit"
      @input="page = $event"
    ></v-pagination>
    <v-text-field
      style="max-width: 250px"
      class="mt-7"
      :value="limit"
      label="آیتم در هر صفحه"
      type="number"
      min="-1"
      max="15"
      @input="limit = parseInt($event, 10)"
      outlined
    ></v-text-field>
  </div>
  <!-- ---------------------------- END: Pagination -------------------------  -->
</v-container>
